<div class="container">

<form class="col-lg-6 col-lg-offset-6 pulltop loginform" tabindex="1" ng-keyup="myFunct($event)">
        <div class="insideloginform">
            <div class="brandlogin">
                <h3>OPERATOR</h3>
            </div>
            <div>
                  <ul class="nav navbar-nav navbar-right langPicker">
                    <li><a ng-click="translate('rs')" class="hover"><img src="img/flag_serbian.gif"></img></a></li>
                    <li><a ng-click="translate('en')" class="hover"><img src="img/uk.png"></img></a></li>
                  </ul>
            </div>
    
  
            <div class="pulltop20 row">
                <div class="col-lg-12">
                    <a class="col-lg-12 btn btn btn-primary btn-lg submitbutton pull-right" role="button" href="http://www.agro-pais.com/login.php">Log in</a>
                </div>
              
            </div>

        </div>

        <div class="alert alert-danger" ng-show="expired">
            <strong>{{ 'LOGIN' | translate }}</strong> {{ 'ERROR_LOGIN' | translate }}
        </div>
</form>
</div>


<div class="footer">
    <div class="container contExt">
        <div class="col-sm-4">
        <img src="img/euc.svg" class="logoExt"></img>
        <img src="img/acc.svg" class="logoExt"></img>
        <img src="img/fractals_logo.png" class="logoExt"></img>
        </div>
        <div class="col-sm-8">
        <p><small class="whiteText">This project is funded by FRACTALS (Future Internet Enabled Agricultural Applications, FP7 project No. 632874), under the funding framework of the European Commission</small></p>
    </div>
    </div>
</div>
