<div class="container">
    <nav class="navbar navbar-default" ng-include="'partials/navigationBar.html'">
    </nav>

    <div class="alert alert-danger" ng-show="generalError">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'ERROR_GEN' | translate }}</strong> {{ 'ERROR_GEN_DET' | translate }}
    </div>


    <div class="col-lg-4" ng-show="!generalError" cg-busy="{promise:getOrders,message:'Loading...',backdrop:true}">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'IMAGES' | translate }}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a class="list-group-item hoverblue" ng-repeat="account in accounts"
                       ng-click="select(0, account.order_id)" id="{{account.order_id}}"
                       ng-class="{'active' : isActive(0, account.order_id)}">{{account.name}}</a>
                </ul>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'SENSORS' | translate }}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a class="list-group-item hoverblue" ng-repeat="sensor in sensors"
                       ng-click="select(1, sensor.id)" id="{{sensor.id}}"
                       ng-class="{'active' : isActive(1, sensor.id)}">{{sensor.type}}</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Client</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marko Markovic</td>
                            <td>M. Gorkog 1/24, Novi Sad</td>
                            <td>+381643534343</td>
                        </tr>
                    </tbody>
                </table>
            </div>       
        </div>
    </div>

    <div class="col-lg-8" ng-show="selected.type == 0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{selected.id}} | {{'IMAGES' | translate}}</h3>
            </div>
            <div class="panel-body">
                    <button class="btn btn-primary" ngf-select="uploadFiles($files)" multiple accept="image/*">Select Files</button>
                <br><br>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Files</th>
                        <th>Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="f in files" style="font:smaller">
                        <td>{{f.name}} {{f.$error}} {{f.$errorParam}}</td>
                        <td><span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%"  
                            ng-bind="f.progress + '%'"></div></td>
                    </tr>
                    </tbody>
                  <!--<ul>
                    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                      <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%"  
                            ng-bind="f.progress + '%'"></div>
                      </span>
                    </li>     
                  </ul>-->
                {{errorMsg}}
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{selected.id}} | {{'SENSORS' | translate}}</h3>
            </div>
            <div class="panel-body">
                    <div class="map">
                        <div class="google-map-canvas" id="map-canvas-results"></div>
                    </div>
                    <div class="col-sm-4 map">
                        
                    </div>
              
            </div>
        </div>
    </div>

</div>