<div class="container">
    <nav class="navbar navbar-default" ng-include="'partials/navigationBar.html'">
    </nav>

    <div class="alert alert-danger" ng-show="generalError">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'ERROR_GEN' | translate }}</strong> {{ 'ERROR_GEN_DET' | translate }}
    </div>


    <div class="col-lg-4" ng-show="!generalError" cg-busy="{promise:getOrders,message:'Loading...',backdrop:true}">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Orders assigned to {{operator.company_name}}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a class="list-group-item hoverblue" ng-repeat="order in companyOrders"
                       ng-click="select(order.order_id, order.client_id)" id="{{order.order_id}}"
                       ng-class="{'active' : isActive(order.order_id, order.client_id)}">{{order.name}}</a>
                </ul>
            </div>
        </div>
    </div>

        <div class="col-lg-8">
                            <div class="panel panel-default panelSmallBorderTop">
                                    <div class="panel-heading panelSmallTop">
                                        <h4>{{selectedDetailed.name}}<h4>
                                    </div>
                                    <div class="panel-body" ng-show="!loaded">
                                        <p>Loading order details...</p>
                                       
                                    </div>
                                    <div class="panel-body" ng-show="loaded">
                                        <div class="panel panel-default panelSmallBorderTop" ng-show="selectedDetailed.description.length > 0">
                                            <div class="panel-heading panelSmallTop">
                                                <p>Description/Additional remarks<p>
                                            </div>
                                            <div class="panel-body">
                                                {{selectedDetailed.description}}
                                            </div>
                                        </div>
                                        <div class="panel panel-default panelSmallBorderTop">
                                            <div class="panel-heading panelSmallTop">
                                                <p>Service time<p>
                                            </div>
                                            <div class="panel-body">
                                                <p>From: {{selectedDetailed.start_date}}<p>
                                                <p>To: {{selectedDetailed.end_date}}<p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5>Ordered By: {{selectedDetailedUser.first_name}} {{selectedDetailedUser.last_name}}<h5>
                                            </div>
                                            <div class="panel-body">
                                                <p>Username: {{selectedDetailedUser.username}}</p>
                                                <p>Email: {{selectedDetailedUser.email}}</p>
                                                <p>Country: {{selectedDetailedUser.country_code}}</p>
                                                <p>Phone: {{selectedDetailedUser.phone}}</p>
                                            </div>
                                        </div>
                                        <h4 ng-if="selectedDetailed.polygons.length>0">Images</h4>
                                        <div class="panel panel-default panelSmallBorder" ng-repeat="ter in selectedDetailed.polygons">
                                            <div class="panel-heading panelSmall">
                                                <h5>Territory {{ter.polygon_id}}<h5>
                                            </div>
                                            <div class="panel-body">
                                                <p>Description/Additional remark: {{ter.description}}</p>
                                                <p>Surface: {{ter.surface}}</p>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Latitude</th>
                                                            <th>Longitude</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="coord in ter.coordinates">
                                                            <td>{{coord.latitude}}</td>
                                                            <td>{{coord.longitude}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <h4 ng-if="selectedDetailed.sensors.length>0">Sensors</h4>
                                        <div class="panel panel-default panelSmallBorderSen" ng-repeat="sen in selectedDetailed.sensors">
                                            <div class="panel-heading panelSmallSen">
                                                <h5>Sensor {{sen.sensor_id}}<h5>
                                            </div>
                                            <div class="panel-body">
                                                <p>Description/Additional remarks: {{sen.description}}</p>
                                                <p>Type: {{getSensorTypeName(sen.type_id)}}</p>
                                                <p>UOM: {{getUOMName(sen.uom_id)}}</p>
                                                <span class="badge activeBadge" ng-show="sen.active==1">Active</span><span class="badge notActiveBadge" ng-show="sen.active==0">Not active</span>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Latitude</th>
                                                            <th>Longitude</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{sen.latitude}}</td>
                                                            <td>{{sen.longitude}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                         
                                    </div>
                            </div>
    </div>
<!--
    <div class="col-lg-8" ng-show="selected.type == 0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{selected.id}} | {{'IMAGES' | translate}}</h3>
            </div>
            <div class="panel-body">
                    <button class="btn btn-primary" ngf-select="uploadFiles($files)" multiple accept="image/*">Select Files</button>
                <br><br>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Files</th>
                        <th>Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="f in files" style="font:smaller">
                        <td>{{f.name}} {{f.$error}} {{f.$errorParam}}</td>
                        <td><span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%"  
                            ng-bind="f.progress + '%'"></div></td>
                    </tr>
                    </tbody>
                {{errorMsg}}
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{selected.id}} | {{'SENSORS' | translate}}</h3>
            </div>
            <div class="panel-body">
                    <div class="col-sm-6 map">
                        <div class="google-map-canvas" id="map-canvas-results"></div>
                    </div>
                    <div class="col-sm-4 map">
                        
                    </div>
              
            </div>
        </div>
    </div>-->

</div>